<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@voerro/vue-modal</title>
    
    <link rel="stylesheet" href="demo/css/bulma.min.css">

    <style>
        html { overflow-y: auto; }

        [v-cloak] { display: none; }
    </style>
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">@voerro/vue-modal</h1>

                <h2 class="subtitle">
                     A flexible & responsive modal component for Vue.js 2 by
                    <a href="http://voerro.com">Voerro</a>
                </h2>

                <p>
                    <a href="https://github.com/voerro/vue-modal" target="_blank">
                        View on Github
                    </a>
                </p>
            </div>
        </div>
    </section>
    
    <div id="voerro-vue-modal-demo-vqk6etkfjrcpsjg5" class="container" style="padding: 2rem;">
        <modal :dismissible="dynamicDismissible"
            :header="dynamicHeader"></modal>

        <h3 class="is-size-3" style="margin-bottom: 1rem;">Dynamic Modals</h3>
        
        <div class="field">
            <label class="label">Modal Title</label>
            
            <div class="control">
                <input class="input" type="text" v-model="dynamicTitle">
            </div>
        </div>

        <div class="field">
            <label class="label">Modal Body</label>
            <div class="control">
                <textarea class="textarea" v-model="dynamicBody" rows="6"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" v-model="dynamicDismissible"> Dismissible
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" v-model="dynamicHeader"> Header
                </label>
            </div>
        </div>

        <p>
            <button class="button is-primary" @click="showDynamicModal">Generate Modal</button>
        </p>



        <h4 class="is-size-4" style="margin: 1rem 0;">Customize Buttons</h4>

        <p style="margin: 1rem 0;">Modals can have as many buttons as you need, each with a unique handler/action. A button without a handler simply closes the modal.</p>

        <p>
            <button class="button is-primary" @click="showModalTwoButtons">Two Buttons</button>

            <button class="button is-primary" @click="showModalThreeButtons">Three Buttons</button>

            <button class="button is-primary" @click="showModalLotsaButtons">Lotsa Buttons</button>

            <button class="button is-primary" @click="showModalNoButtons">No Buttons At All</button>
        </p>



        <hr>

        <h3 class="is-size-3" style="margin-bottom: 1rem;">
            Loading Modal's Body via AJAX
        </h3>

        <p style="margin: 1rem 0;">This works as a regular modal, except you need to provide a URL to fetch the content instead of a body.</p>

        <div class="field">
            <label class="label">Modal Body URL</label>
        
            <div class="control">
                <input class="input" type="text" v-model="ajaxUrl">
            </div>
        </div>

        <p>
            <button class="button is-primary" @click="showAjaxModal">Generate Modal</button>
        </p>



        <hr>
        
        <h3 class="is-size-3" style="margin-bottom: 1rem;">Inline Modals</h3>

        <modal id="inline" v-cloak>
            <template slot="title">Inline Title</template>

            <div slot="body">This body, as well as the title, are stored directly within the HTML of your page.</div>

            <div slot="footer">You can put something else in the footer if you don't need the buttons (or provide the buttons via options like with dynamically generated modals)</div>
        </modal>

        <modal id="inline-two" v-cloak>
            <template slot="title">Inline 2</template>
        
            <div slot="body">This is a different inline modal with a different id. Don't include the footer slot if you don't need it.</div>
        </modal>

        <modal id="inline-with-buttons" v-cloak>
            <template slot="title">Inline 3</template>
        
            <div slot="body">The buttons for this modal are generated dynamically.</div>
        </modal>

        <p style="margin: 1rem 0;">You can also define multiple modals inline with Vue slots. Each modal should have a unique id. Open this page's source code and find the two &lt;modal&gt; blocks defining these modals if you want to see how it works.</p>

        <p>
            <button class="button is-primary" @click="showInlineModal">Show Modal One</button>

            <button class="button is-primary" @click="showInlineModalTwo">Show Modal Two</button>

            <button class="button is-primary" @click="showInlineModalWithButtons">Show Modal Three</button>
        </p>



        <hr>
        
        <h3 class="is-size-3" style="margin-bottom: 1rem;">
            Hiding Modals Programmatically
        </h3>

        <p>
            <button class="button is-primary" @click="showAndHideGeneratedModal">Hide Dynamically Generated Modal After 2 Seconds</button>
        
            <button class="button is-primary" @click="showAndHideInlineModal">Hide Inline Modal After 2 Seconds</button>
        </p>



        <hr>
        
        <h3 class="is-size-3" style="margin-bottom: 1rem;">
             Options
        </h3>

        <p style="margin: 1rem 0;"><b>Undismissible Modals</b>. An undismissible modal can not be dismissed by pressing on the close button or on the overlay outside the modal. An action (a button click) is required to close the modal.</p>

        <p>
            <button class="button is-primary" @click="showUndismissibleModal">Show Modal</button>
        </p>

        <p style="margin: 1rem 0;">
            <b>No Header</b>
        </p>
        
        <p>
            <button class="button is-primary" @click="showModalWithoutHeader">Show Modal</button>
        </p>

        <p style="margin: 1rem 0;">
            <b>Prevent Default Button's Action</b>. By default the active modal will be closed after you press on any of the buttons (even if that button has a handler). Luckily, you can prevent that.
        </p>

        <p>
            <button class="button is-primary" @click="showModalPreventDefaultAction">Show Modal</button>
        </p>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="dist/build.js"></script>
    
    <script>
        new Vue({
            el: '#voerro-vue-modal-demo-vqk6etkfjrcpsjg5',
            
            components: { Modal },
            
            data: {
                dynamicTitle: 'A title',
                dynamicBody: `<p>Put some content here.</p>
<p>By the way, <b>HTML</b> is <em>also supported</em>!</p>

<p style="text-align:center">
    <img src="https://vuejs.org/images/logo.png" style="height: 5rem;">
</p>`,
                ajaxUrl: 'demo/ajax.html',
                dynamicDismissible: true,
                dynamicHeader: true,
            },

            methods: {
                showDynamicModal () {
                    VoerroModal.show({
                        title: this.dynamicTitle,
                        body: this.dynamicBody,
                        buttons: [
                            {
                                text: 'Ok'
                            }
                        ]
                    }); 
                },

                showModalTwoButtons () {
                    VoerroModal.show({
                        title: 'Two Buttons',
                        body: 'This one has two buttons!',
                        buttons: [
                            {
                                text: 'Ok',
                                handler: function () {
                                    alert('You pressed ok!');
                                }
                            },
                            {
                                text: 'Cancel'
                            }
                        ]
                    });
                },

                showModalThreeButtons() {
                    VoerroModal.show({
                        title: 'How About Three Buttons?',
                        body: 'Not bad...',
                        buttons: [
                            {
                                text: 'Yes',
                                handler: function () {
                                    alert('You pressed yes!');
                                }
                            },
                            {
                                text: 'Maybe',
                                handler: function () {
                                    alert('You pressed maybe...');
                                }
                            },
                            {
                                text: 'No',
                                handler: function () {
                                    alert('You pressed no :(');
                                }
                            }
                        ]
                    });
                },

                showModalLotsaButtons() {
                    VoerroModal.show({
                        title: 'How Many Buttons Do You Need?',
                        body: 'You can have as many as you need. Each button has the same width.',
                        buttons: [
                            { text: 'You', },
                            { text: 'Can' },
                            { text: 'Have' },
                            { text: 'As' },
                            { text: 'Many' },
                            { text: 'Buttons' },
                            { text: 'As' },
                            { text: 'You' },
                            { text: 'Need' }
                        ]
                    });
                },

                showModalNoButtons() {
                    VoerroModal.show({
                        title: 'No Buttons At All',
                        body: 'No buttons here, move on...',
                        dismissible: true
                    });
                },

                showAjaxModal() {
                    VoerroModal.show({
                        title: 'Fetching the Body via AJAX',
                        bodyUrl: this.ajaxUrl,
                        buttons: [
                            {
                                text: 'Yep!'
                            }
                        ]
                    });
                },

                showInlineModal () {
                    VoerroModal.show('inline');
                },

                showInlineModalTwo () {
                    VoerroModal.show('inline-two');
                },

                showInlineModalWithButtons () {
                    VoerroModal.show('inline-with-buttons', {
                        buttons: [
                            {
                                text: 'Nice!',
                                handler: () => {
                                    alert('I know, right?');
                                }
                            },
                            { text: 'Close' }
                        ]
                    });
                },

                showAndHideGeneratedModal () {
                    VoerroModal.show({
                        title: 'VoerroModal.hide()',
                        body: 'This will disappear in 2 seconds...'
                    });

                    setTimeout(function () {
                        VoerroModal.hide();
                    }, 2000);
                },

                showAndHideInlineModal () {
                    VoerroModal.show('inline-two');

                    setTimeout(function () {
                        VoerroModal.hide('inline-two');
                    }, 2000);
                },

                showUndismissibleModal () {
                    VoerroModal.show({
                        title: "U Can't Close This",
                        body: 'The only way to close this modal is to press on one of the buttons. This forces your users to take an action.',
                        buttons: [
                            {
                                text: 'I Agree'
                            },
                            {
                                text: 'I Don\'t Agree'
                            }
                        ],
                        dismissible: false
                    });
                },

                showModalWithoutHeader () {
                    VoerroModal.show({
                        body: 'This modal\'s header is completely hidden.',
                        buttons: [
                            {
                                text: 'Ok'
                            }
                        ],
                        header: false
                    });
                },

                showModalPreventDefaultAction () {
                    VoerroModal.show({
                        body: 'This modal won\'t automatically close after you press "Ok". You can close the modal manually whenever is appropriate.',
                        buttons: [
                            {
                                text: 'Ok',
                                preventDefault: true,
                                handler: () => {
                                    alert('Performing an action...');
                                }
                            },
                            { text: 'Cancel' }
                        ],
                        header: false
                    });
                }
            }
        });
    </script>
</body>
</html>
